  body {
    padding-top: 5rem;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
  table
  {
    width: 98%;
    margin-left: 2px;
    margin-left: auto;
    margin-top: 12px;
    margin-right: auto;
  }

  .tbl
  {
    margin-top: 40px;
  }


  .gitlogo
  {
    width:2.5em;
    height:2.5em;
    
  }
  tr,td
  {
  
    border: 1px solid #add8e6;
    width:25px;
    height:25px;
    padding-left:0px;
    padding-right:0px;
    
    
  }
 
  .legend
  {
    display:inline-block;
    padding-left: 20px;
  }

  .legend-content
  {
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.72222;
    color: #34495e;
  }

  #child
  {
    display: inline-block;
  }


.source
{

  background-image: url('./images/arrow.svg');
  background-repeat: repeat-y;
}

.destination
{
  background-image: url("./images/target.svg");
  background-repeat: repeat-y;
  background-color: white;
}

  .pathprinter
  {
    background-color: yellow;
    border-color: yellow;

  }

  .finalpath
  {
    background-color: yellow;
    border-color: yellow;
    animation-name: finale;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }

  
  .start
  {
    background-image: url('./images/arrow.svg'); 
    border:none;
    background-repeat: none;
   
  }

  .visited1
  {
    background-color: lightseagreen;
    border-color:lightseagreen;
    background-repeat: repeat-y;
  }

  .visited2
  {
    background-color: rgba(0, 217, 159, 0.75);
    border-color:rgba(0, 217, 159, 0.75);
    background-repeat: repeat-y; 
  }
.space
{
  border:none;
}

  .end
  {
    
    background-image: url("./images/target.svg");
    background-repeat: repeat-y;
    
  }
  .anime
  {
    background-color: lightseagreen;
    animation-name: example;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    
  }

  /* @keyframes example {
    from {background-color: #0892d0;}
    to {background-color:orange;}
  } */

  .tblcell
  {
    background-color: #34495e;
    border-color:black;
    animation-name: cellfill;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
  }


  @keyframes cellfill{
  
  
  
    50% {
      transform: scale(1.5);
      background-color: #000000;
    }
  
    100% {
      transform: scale(1);
      background-color: #000000;
    }
  }



  @keyframes finale{
    0% {
      transform: scale(0.3);
      background-color: #f5f5dc;
      
      border-radius: 100%;
    }
  
    50% {
      background-color: #eedc82;
          }
  
   
  
    100% {
      transform: scale(1);
      background-color: yellow;
    }
  }




  @keyframes example{
    0% {
      transform: scale(0.3);
      background-color: rgba(0, 0, 66, 0.75);
      border-radius: 100%;
    }
  
    50% {
      background-color: rgba(17, 104, 217, 0.75);
    }
  
    75% {
      transform: scale(1.2);
      background-color: rgba(0, 217, 159, 0.75);
    }
  
    100% {
      transform: scale(1);
      background-color: rgba(0, 190, 218, 0.75);
    }
  }

